<div class="title"><%= survey.title %></div>
<div class="description"><%= survey.summary%></div>
<div class="actions">
	
	<%= link_to "Take the Survey", new_survey_response_path(survey), :class => 'btn btn-primary btn-mini' %>
	
	<% if can? :update, Survey %>
		<%= link_to "Edit", edit_survey_path(survey), :class => 'btn btn-mini' %>

		&nbsp;
		<% if survey.closed? || survey.draft? %>
			<%= link_to "Publish", publish_survey_path(survey), :remote => true, :class => 'btn btn-mini' %> 
		<% end %>
		<% if survey.published? %>
			<%= link_to "Close", close_survey_path(survey), :remote => true, :class => 'btn btn-mini' %> 
			<%= link_to "Draft", draft_survey_path(survey), :remote => true, :class => 'btn btn-mini' %>
		<% end %>
		&nbsp;
		<%= link_to "Delete", survey_path(survey), :method => :delete, :confirm => "Are you sure?", :class => 'btn btn-mini btn-danger' %>
	<% end %>

	<% if can? :manage, Response %>
		<%= link_to "View Responses", survey_responses_path(survey), :class => 'btn btn-mini' %>
	<% end %>
</div>