<h2>Surveys</h2> <br/>

<% if @surveys.empty? %>
	<h5>Oops! There seems to be no surveys in the system! 
		<% if can? :create, Survey %>
			<%= link_to "Create one", new_survey_path %> now. 
		<% end %>
	</h5>
<% else %>

<%= paginate(@surveys) %>

<table class="table table-striped">
	<tbody>
		<% @surveys.each do |survey| %>
			<tr>
				<td id="survey_<%= survey.id %>">
					<%= render :partial => 'survey', :locals => {:survey => survey } %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= paginate(@surveys) %>

<% end %>