<!DOCTYPE html>
<html>
<head>
  <title>Surveyor</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/navbar' %>
	<div class="container">
		<% if flash[:notice] %>
			<div class="alert alert-success"><%= notice %></div>
		<% end %>
		<% if flash[:alert] %>
			<div class="alert"><%= alert %></div>
		<% end %>
		<% if flash[:error] %>
			<p class="alert"><%= error %></p>
		<% end %>
		<div class="row">
			<div class="span12">
				<%= yield %>
			</div>
		</div>
	</div>
</body>
</html>
